    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
      background-color: #F5EBDA;
    }
    header {
      background-color: #F5EBDA;
      color: #482817;
      padding: 20px;
      font-size: 2rem;
    }
    .map-container {
      margin: 40px auto;
      width: 80%;
      max-width: 800px;
      /*background-color: white;*/
      padding: 20px;
      /*border-radius: 10px;*/
      /*box-shadow: 0 2px 8px rgba(0,0,0,0.2);*/
      max-width: 100%;
      /*overflow: hidden;*/
      position: relative;
    }
    .map-container path {
      cursor: pointer;
      fill: #b16767;
      transition: fill 0.3s ease;
    }
    .map-container path:hover {
      fill: rgb(68, 16, 8);
    }